<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-lg modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit User Profile</h4>
      </div>
      <div class="modal-body">
        <%= form_for :user, url: user_path(@user), method: :patch, html: {class: "form-horizontal"} do |f| %>
        <div class="form-group">
          <%= f.label :username, :class=>"control-label col-md-4 text-left"   %>
          <div class="col-md-8">
            <%= f.text_field :username, :required => true, :class=>"form-control"  %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :postal, :class=>"control-label col-md-4 text-left"    %>
          <div class="col-md-8">
            <%= f.text_field :postal, :required => true, :class=>"form-control"  %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, :class=>"control-label col-md-4 text-left"    %>
          <div class="col-md-8">
          <%= f.text_field :email, :required => true, :class=>"form-control" %>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit("Save the info", class: "btn btn-success") %>
        <%end%>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
