#editBookDialog.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Edit your book
      .modal-body
        = form_for book , url: {action: "update", :controller=>"books"} do |form|
          = form.hidden_field :id, :value => book.id
          .form-group
            = form.label :categories
            %br/
            %center= form.select :categories, ['Primary School Textbooks', 'Secondary School Textbooks','University Textbooks','Non-Textbooks'],  {}, {required: 'true', autofocus: 'true', class: 'form-control custom'}
          .form-group
            = form.label :condition
            %br/
            %center
              = form.select :condition, ['Brand new', 'OK','Looks bad'], {required: 'true', autofocus: 'true', class: 'form-control custom'}
          .form-group
            = form.label :prefered_location
            %br/
            = form.text_field :prefered_location , :required => true
      .modal-footer
        .form-group
          = form.submit("Done",class:"btn btn-default btn-block")
