<% @book_transactions.each do |book_transaction| %>
  <% if book_transaction.status == "pending" %>
    <div class="row clearfix top-buffer"> 
                      
      <div class="col-md-2 column">
        <%=image_tag book_transaction.book.image_url%>
      </div>

      <div class="col-md-4 column book-title">
        <%= link_to book_transaction.book.name, book_transaction.book %>
      </div>

      <div class="col-md-2 column">
        <%= book_transaction.status %>
      </div>

      <div class="col-md-1 column">
        <%= book_transaction.book.price %> points
      </div>

      <div class="col-md-1 column">
        <center>
          <%="Buy" if @user.id == book_transaction.user_id%>
        </center>
        <center>
          <%="Sell" if @user.id == book_transaction.book.user_id%>
        </center>  
      </div>

      <div class="col-md-1 column">
        <% if current_user = @user %>
          <%= link_to("Delete", book_transaction_path(book_transaction), method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-default btn-block") if @user.id == book_transaction.user_id%>
          <%= form_for(book_transaction, :url =>  successful_transaction_path(book_transaction), :html => { :method => :post }) do |f| %>
            <%= f.submit("Received", data: {confirm: "Are you sure?"},class: "btn btn-default btn-block") if @user.id == book_transaction.user_id%>
          <% end %>     
        <% end %> 
      </div>
      

      <div class="col-md-1 column">
        <% if book_transaction.book.user == current_user %>
          <div>
            <%= link_to 'Edit', edit_book_path(book_transaction.book) ,class: "btn btn-default btn-block"%> 
          </div>

          <div>
            <%= link_to "Delete", book_path(book_transaction.book), method: :delete,  data: {confirm: "Are you sure you want to delete this book?"}, class: "btn btn-default btn-block"%>
          </div>
        <% end %>
      </div>

    </div>
  <% end %>
<% end %>