

<h1>Edit User</h1>
<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>

<br>

<%= f.label :postal %>
<%= f.text_field :postal %>
<br>
<%= f.label :email %>
<%= f.text_field :email %>

<br>

<%= f.submit %>
<%end%>
<br>

