
<div id="fullpage">
  <div class="section" id="section1">
    <div class="slide" id="slide1">       
      <div class="container">
        <div class="slide-caption text-center">
          <h1>Sign up today</h1>
          <p>Had a heart attack from textbook prices? Weíve been there before..</p>
          <%=link_to 'Sign Up', '#sign_up_modal', "data-toggle" => 'modal', class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
    <div class="slide" id="slide2">
      <div class="container">
        <div class="slide-caption text-center">
          <h1>Learn more.</h1>
          <p>Bookku Booku is a community started by book lovers to exchange used textbooks at all levels, including primary, secondary and university.</p>
          <p><a class="btn btn-lg btn-primary" href="https://getbootstrap.com/examples/slide/#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="slide" id="slide3">
      <div class="container">
        <div class="slide-caption text-center">
          <h1>Browse our books.</h1>
          <p>Bookku Bookku allows you to obtain the books you really need in exchange for the books that youíve left on the shelf.</p>
          <p><a class="btn btn-lg btn-primary" href="https://getbootstrap.com/examples/slide/#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h1 class="h1-top-margin text-center">Search text-books <small>and get it cheap</small></h1>
      <br>
      <br>
      <center>
        <div id="custom-search-input">
          <%= form_tag books_path, method: :get do %>
            <div class="input-group col-md-8 col-centered">
          <%= text_field_tag :search, params[:search], placeholder: "Type book you've always wanted to have", class: 'search-query form-control search-big' %>
          <span class="input-group-btn col-centered search-big">
              <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg' do %>
              <span class="glyphicon glyphicon-search"></span>
            <%end%>
          </span>
            </div>
          <%end%> 
        </div>  
      </center>

      <br>
      <!-- Title -->
      <div class="row">
        <div class="col-lg-12 col-centered">
            <h3>...or find it here</h3>
        </div>
      </div>
      
      <br>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="container-outer">
        <div class="container-inner">
         <br>
          <div class="books">
            <%if @book_rating[0].present?%>
            <div id="book1" class="book">
              <a href="/books/<%=@book_rating[0].id%>"><img src="<%=@book_rating[0].big_image%>" id="book_size" class="size-img" /></a>
            </div>
            <%end%>
            <%if @book_rating[1].present?%>
            <div id="book2" class="book">
              <a href="/books/<%=@book_rating[1].id%>"><img src="<%=@book_rating[1].big_image%>" id="book_size" /></a>
            </div>
            <%end%>
            <%@book_new.each do |book|%>
            <div id="book3" class="book">
              <a href="/books/<%=book.id%>"><img src="<%=book.big_image%>" id="book_size" /></a>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>          


  <div class="section" id="steps">
    
    <div class="slide">
      <div class="intro text-center">
        <h1>How it works? </h1>
        <p>In order to buy books from others, you need to use points.</p>
        <p>Points can be earned or bought</p>
      </div>
    </div>

    <div class="slide">
      <div class="intro text-center">
        <h1> You obtain points when you</h1>
        <h3>Sell books to a buyer. Submit books you own and want to sell. </h3>
        <h3>Buy points directly from Bookku Bookku</h3>
      </div>
    </div>

    <div class="slide">
      <div class="intro text-center">
        <h1>You utilize points when you:</h1>
        <h3>Buy books from a seller.</h3>
        <p>Buy a book that is already in store or create a wishlist of books to ask other sellers</p>
      </div>
    </div>
  </div>

  <div class="section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <h1> About us </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-justify">
          <p>Had a heart attack from textbook prices? </p>
          <p>We've been there before. Bookku Booku is a community started by book lovers to exchange used textbooks at all levels, including primary, secondary and university. Bookku Bookku allows you to obtain the books you really need in exchange for the books that you've left on the shelf. Simply peruse our catalogue for the book you want, or submit a request for a book you need. You get points for every book you sell on the website, and in exchange you use these points to buy books from others. If you don't have anything to sell, that's still no problem. Simply buy some points for us and use it to purchase the books on our site. And yes, we have fiction books as well.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section" id="team">
    <div class="container">
      <h1 class="text-center"> Meet Our Team </h1>
      <div class="row">

        <div class="col-md-2 col-md-offset-1">
         <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/005/0a0/317/2fa3300.jpg" alt="Petr Duda">
        </div>

        <div class="col-md-2">        
         <img src="https://scontent-kul1-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/11377185_10153300724727226_1682277433084150762_n.jpg?oh=482ee86c8a49b60d54f8303839d1fa5d&oe=57448250" alt="Sam Kah Chiin">
        </div>

        <div class="col-md-2">
         <img src="https://scontent-kul1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10002929_10200601708724713_1386732301_n.jpg?oh=a31ec4416da3951d7512886c8f69b2b1&oe=57345366" alt="Ezhar Fahmi">
        </div>

        <div class="col-md-2">
         <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/000/05f/22f/17af1cb.jpg" alt="Alexander Angerer">
        </div>

        <div class="col-md-2">
         <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/3/000/05f/22f/17af1cb.jpg" alt="Chan Jin Wen">
        </div>

      </div>
    </div>
  </div>

</div>
