    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img class="first-slide" src="/assets/carousel1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sign up today</h1>
              <p>Had a heart attack from textbook prices? Weíve been there before..</p>
              <p><a class="btn btn-lg btn-primary" href="#howitworks" role="button">Sign Up</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/assets/carousel2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Learn more.</h1>
              <p>Bookku Booku is a community started by book lovers to exchange used textbooks at all levels, including primary, secondary and university.</p>
              <p><a class="btn btn-lg btn-primary" href="https://getbootstrap.com/examples/carousel/#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item active">
          <img class="third-slide" src="/assets/carousel3.jpg"alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Browse our books.</h1>
              <p>Bookku Bookku allows you to obtain the books you really need in exchange for the books that youíve left on the shelf.</p>
              <p><a class="btn btn-lg btn-primary" href="https://getbootstrap.com/examples/carousel/#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- /.carousel -->
    
    <!-- Page Content -->
    <div class="container">
      <h1 class="h1-top-margin text-center">Search text-books <small>and get it cheaply</small></h1>
      <br><br><center>
        <div id="custom-search-input">
          <%= form_tag books_path, method: :get do %>
            <div class="input-group col-md-8 col-centered">
          <%= text_field_tag :search, params[:search], placeholder: "Type book you've always wanted to have", class: 'search-query form-control search-big' %>
          <span class="input-group-btn col-centered search-big">
              <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg' do %>
              <span class="glyphicon glyphicon-search"></span>
            <%end%>
          </span>
            </div>
          <%end%> 
        </div>  
      </center>

      <br>
      <!-- Title -->
      <div class="row">
          <div class="col-lg-12 col-centered">
              <h3>...or find it here</h3>
          </div>
      </div>
      <br>

        <div class="container-outer">
          <div class="container-inner">
           <br>
              <div class="books">
                <%if @book_rating[0].present?%>
                <div id="book1" class="book">
                  <a href="/books/<%=@book_rating[0].id%>"><img src="<%=@book_rating[0].big_image%>" class="size-img" /></a>
                </div>
                <%end%>
                <%if @book_rating[1].present?%>
                <div id="book2" class="book">
                  <a href="/books/<%=@book_rating[1].id%>"><img src="<%=@book_rating[1].big_image%>" /></a>
                </div>
                <%end%>
                <%@book_new.each do |book|%>
                <div id="book3" class="book">
                  <a href="/books/<%=book.id%>"><img src="<%=book.big_image%>" /></a>
                </div>
                <%end%>
              </div>
           </div>
        </div>
        <br>      

    </div>    
    <!-- /.container -->

<!-- 
    <section class="how">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Why Choose Us?</h2>
              <hr class="star-light">
          </div>

          <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                <p>1. A transformative impact
                <br>
                We want to solve the issue of high textbook costs, but no way to offset these costs once the books have been purchased. No student should be left behind because of high textbook costs
                <br>
                2. A simple yet effective model
                <br>
                Peruse our catalogue like you would any online store. If you don’t have books to sell first, simply buy points from us beforehand
                <br>
                3. Absolutely free
                <br>
                There is no cost to join or use this web site. The only cost is mailing your books to others.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="how">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2>How it Works</h2>
              <hr class="star-light">
          </div>

          <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                <p>In order to buy books from others, you need to use points. Points can be earned or bought. You obtain points when you: 
                Sell books to a buyer. Submit books you own and want to sell. 
                Buy points directly from Bookku Bookku
                You utilize points when you:
                Buy books from a seller. Buy a book that is already in store or create a ‘wishlist’ of books to ask other sellers
                How the points system works:
                The points system works depending on what kind of book you are buying or selling. University textbooks are worth 10 points, secondary school textbooks at 3 points and lastly, primary school textbooks at 2 points. All fiction books are worth 5 points. 
                Feedback score:
                Each time you buy or sell a book, you can leave feedback with the seller. By keeping your review score high, you’ll be able to attract more buyers. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class = "success" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>About</h2>
                  <hr class="star-light">
              </div>
          </div>
          <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                  <p id="about-paragraph">Had a heart attack from textbook prices? We’ve been there before.Bookku Booku is a community started by book lovers to exchange used textbooks at all levels, including primary, secondary and university. Bookku Bookku allows you to obtain the books you really need in exchange for the books that you’ve left on the shelf. Simply peruse our catalogue for the book you want, or submit a request for a book you need.You get points for every book you sell on the website, and in exchange you use these points to buy books from others. If you don’t have anything to sell, that’s still no problem. Simply buy some points for us and use it to purchase the books on our site. And yes, we have fiction books as well.</p>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section class="success" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>About</h2>
                  <hr class="star-light">
              </div>
          </div>
          <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                  <p id="about-paragraph">Had a heart attack from textbook prices? We’ve been there before.Bookku Booku is a community started by book lovers to exchange used textbooks at all levels, including primary, secondary and university. Bookku Bookku allows you to obtain the books you really need in exchange for the books that you’ve left on the shelf. Simply peruse our catalogue for the book you want, or submit a request for a book you need.You get points for every book you sell on the website, and in exchange you use these points to buy books from others. If you don’t have anything to sell, that’s still no problem. Simply buy some points for us and use it to purchase the books on our site. And yes, we have fiction books as well.</p>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section class="how">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2>Why Choose Us?</h2>
              <hr class="star-light">
          </div>

          <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                <p>1. Passionate about books
                <br>
                We know how emotionally difficult it is to throw a book away, even if we will never read it again. We want to find a good home for your textbooks and have them find someone who appreciates them.
                <br> 
                2. Not another e-commerce site
                <br>
                By using points instead of prices, we aim to create a community of books lovers who want to share their love of books
                <br>
                3. A worthwhile charitable cause
                <br>
                You can choose to give some of your points to charities, so that they can get books they need.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->


