    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img class="first-slide" src="http://i.imgur.com/jio2XtL.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Sign up today</h1>
              <p>Had a heart attack from textbook prices? Weíve been there before..</p>
              <p><a class="btn btn-lg btn-primary" href="#howitworks" role="button">Sign Up</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="http://i.imgur.com/nymFEaN.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Learn more.</h1>
              <p>Bookku Booku is a community started by book lovers to exchange used textbooks at all levels, including primary, secondary and university.</p>
              <p><a class="btn btn-lg btn-primary" href="https://getbootstrap.com/examples/carousel/#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item active">
          <img class="third-slide" src="http://i.imgur.com/xLMmFXW.jpg"alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Browse our books.</h1>
              <p>Bookku Bookku allows you to obtain the books you really need in exchange for the books that youíve left on the shelf.</p>
              <p><a class="btn btn-lg btn-primary" href="https://getbootstrap.com/examples/carousel/#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
<!-- Page Content -->
    <div class="container">
      <h1 class="h1-top-margin text-center">Search text-books <small>and get it cheap</small></h1>
      <br><br><center>
        <div id="custom-search-input">
          <%= form_tag books_path, method: :get do %>
            <div class="input-group col-md-8 col-centered">
          <%= text_field_tag :search, params[:search], placeholder: "Type book you've always wanted to have", class: 'search-query form-control search-big' %>
          <span class="input-group-btn col-centered search-big">
              <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg' do %>
              <span class="glyphicon glyphicon-search"></span>
            <%end%>
          </span>
            </div>
          <%end%> 
        </div>  
      </center>

      <br>
      <!-- Title -->
      <div class="row">
          <div class="col-lg-12 col-centered">
              <h3>...or find it here</h3>
          </div>
      </div>
      <br>

        <div class="container-outer">
          <div class="container-inner">
           <br>
              <div class="books">
                <%if @book_rating[0].present?%>
                <div id="book1" class="book">
                  <a href="/books/<%=@book_rating[0].id%>"><img src="<%=@book_rating[0].big_image%>" id="book_size" class="size-img" /></a>
                </div>
                <%end%>
                <%if @book_rating[1].present?%>
                <div id="book2" class="book">
                  <a href="/books/<%=@book_rating[1].id%>"><img src="<%=@book_rating[1].big_image%>" id="book_size" /></a>
                </div>
                <%end%>
                <%@book_new.each do |book|%>
                <div id="book3" class="book">
                  <a href="/books/<%=book.id%>"><img src="<%=book.big_image%>" id="book_size" /></a>
                </div>
                <%end%>
              </div>
           </div>
        </div>
        <br>


        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">How it works</h2>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div id="fullpage">
        <div class="section">Section 1</div>
        <div class="section">
          <div class="slide" data-anchor="slide1"> Slide 1 </div>
          <div class="slide" data-anchor="slide2"> Slide 2 </div>
          <div class="slide" data-anchor="slide3"> Slide 3 </div>
          <div class="slide" data-anchor="slide4"> Slide 4 </div>
        </div>
        <div class="section">Section 3</div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#fullpage').fullpage({
                sectionsColor: ['#f2f2f2', '#4BBFC3', '#7BAABE', 'whitesmoke', '#000'],
            });
        });
    </script>