<center><h1>Booku Booku</h1>
<p> Beautiful website from our boss <strong>Sam</strong></p>

<p><em>Thanks for all the lessons!</em></p></center>
<% if current_user.nil?%>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<br>
<a href="users/sign_in"> Sign In</a>
<br>
<a href="users/sign_in"> Sign Up</a>
<%end%>
<br>
<% if !current_user.nil?%>
<%=current_user.email%><br>
<h3>Buy Points</h3>
<%=link_to "10", new_point_transaction_path(value: 10)%>, <%=link_to "20", new_point_transaction_path(value: 20)%>, <%=link_to "30", new_point_transaction_path(value: 30)%><br><br>
<%=link_to "Edit", edit_user_path(current_user)%><br>
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>

<a href="point_transactions/new/?ref=10">Click to go to form</a>
<%end%>

