
<div class="row">      
  <% @books.each_with_index do |book,index|%>
  	<% unless book.book_transaction %>
      <div class="col-md-4 col-sm-6 col-xss-12 hero-feature">
        <div class="thumbnail">
          <center>
            <div class="book">
                <%= image_tag book.image_url%>
            </div>
          </center>
          <br>
      		<center><p><%=link_to book.name, book_path(book) %></p></center>
          
          <div class='row'>
            <div class='col-md-6'>
              <%= form_for BookTransaction.new do |f|%>
                <%= f.hidden_field :book_id, :value => book.id%>
                <%= f.submit("Buy Now!",class: "btn btn-default pull-right") %>
              <% end %>
            </div>

            <div class='col-md-6'>
              <%= link_to "More info", book ,class: "btn btn-default pull-left"%>
            </div>
          </div>
        </div>
      </div>

      <% if (index + 1) % 3 == 0 %>
        </div><br><br>
        <div class="row">
      <% end %>

    <% end %>
  <% end%>     
</div>

<center>
  <ul class="pagination">
    <%= will_paginate @books %>
  </ul>
</center>