
<div class="row" id="book-row">      
  <% @books.each_with_index do |book,index|%>
  	<% unless book.book_transaction %>
      <div class="col-md-4 col-sm-6 col-xss-12 hero-feature">
        <div class="thumbnail book-thumbnail">
          <center>
          <br>
            <div class="book">
                <a href="/books/<%=book.id%>"><%= image_tag book.image_url%></a>
            </div>
          </center>
          <br>
      		<center><p><%=link_to book.name, book_path(book) %></p></center>
          
          <div class='row button-row'>
            <div class='col-md-6 col-xs-12 button-column'>
              <%if current_user%>
                <%= form_for BookTransaction.new do |f|%>
                  <%= f.hidden_field :book_id, :value => book.id%>
                  <%= f.submit("Buy Now!",class: "btn btn-default") %>
                <% end %>
              <%else%>
                <%=link_to 'Buy Now!', '#sign_up_modal', "data-toggle" => 'modal', class: "btn btn-default"%>
              <%end%>
            </div>

            <div class='col-md-6 col-xs-12 button-column'>
              <%= link_to "More info", book ,class: "btn btn-default"%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end%>     
</div>

<center>
  <ul class="pagination">
    <%= will_paginate @books , renderer: BootstrapPagination::Rails%>
  </ul>
</center>