<div class="container">
	<h1>Search Result</h1>

	<div class="row">
		<% @books.each_with_index do |book, index| %>
			<div class="book-column col-md-4">
				<%= image_tag(book.image_link(:zoom => 5)) %>
				<br>
				<strong><%= book.title%></strong>
				<br>
				<i>by <%= book.authors%></i>
				<br>
				
				<a data-toggle="modal" data-id="<%= book.isbn%>" title="Add this item" class="open-AddBookDialog btn btn-default" href="#addBookDialog">Add this book</a>

			</div>	
			<% if (index + 1) % 3 == 0 %>
				</div><br><br>
				<div class="row">
			<% end %>
		<% end %>
	</div>
</div>


<%= render 'form' %>