<div class="container">
	<h1>Search Result</h1>

	<div class="row">
		<% @books.each do |book| %>
			<div class="book-column col-md-4">
				<%= image_tag(book.image_link(:zoom => 5)) %>
				<br>
				<strong><%= book.title%></strong>
				<br>
				<i>by <%= book.authors%></i>
				<br>
				
				<a data-toggle="modal" data-id="<%= book.isbn%>" title="Add this item" class="open-AddBookDialog btn btn-primary" href="#addBookDialog">test</a>

				<%= form_for(Book.new, :url => form_path) do |f|%>
					<%= f.hidden_field :isbn, value: book.isbn %>
					<%= f.submit("Add This Book", class: "btn btn-default") %>
				<% end %>
			</div>	
		<% end %>
	</div>
</div>

<div id="addBookDialog" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
        <input type="text" name="bookId" id="bookId" value=""/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>