<div class="modal fade alert" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
              <h3 class="modal-title" id="lineModalLabel">Start a conversation</h3>
          </div>
          <div class="modal-body">
			<%= form_tag messages_path, method: :post do %>
			  <div class="form-group">
			    <%= label_tag 'message[subject]', 'Subject' %>
			    <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
			  </div>

			  <div class="form-group">
			    <%= label_tag 'message[body]', 'Message' %>
			    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
			  </div>

			  <%=hidden_field_tag 'recipients', @chosen_recipient %>

			  <%= submit_tag 'Send', class: 'btn btn-primary' %>
			<% end %>
          </div>
      </div>
    </div>
  </div>



<div class="container">
	<div class="row">
	<br>
		<div class="col-md-3">
		<br>
					<div class="books">
					  <div class="book" id="book_size">
					    <%= image_tag(@book.big_image) %>
					  </div>
					</div>
			<% if current_user%>
				<% unless @book.user.id == current_user.id%>
					<div>
						<%= form_for @book_transaction do |f|%>
							<%= f.hidden_field :book_id, :value => @book.id%>
							<%= f.submit("Buy It",class: "btn btn-default btn-block") %>
						<% end%>
					</div>
				<% else %>
					<div>
						<%= link_to 'Edit Book', edit_book_path %>	
					</div>
					<div>
						<%= link_to "Delete Book", book_path(@book), method: :delete  %>
					</div>
				<% end %>
			<% end %>
		</div> <!-- col 3 -->

		<div class="col-md-6">
				<h2><%= @book.name%><%if @book.subtitle.present?%>,<small> <%= @book.subtitle%><%end%> </small></h2>
				<%if @book.author%><h3><small>by <strong><%=@book.author%></strong></small></h3><%end%>	
				<hr>
				<%if @book.section.present?%>
				<p><strong>Category:</strong> <%=@book.section%></p>
				<%end%>
				<%if @book.published_date.present?%>
				<p><strong>Published by:</strong> <%=@book.publisher%> in <%=@book.published_date%></p>
				<%end%>
				<%if @book.pages.present?%>
				<p><strong>Pages:</strong> <%=@book.pages%></p>
				<%end%>
				<%if @book.language.present?%>
				<p><strong>Language:</strong> <%=@book.language.upcase%></p>
				<%end%>
				<%if @book.rating_count.present?%>
				<p><strong>Rating:</strong> <%="#{@book.rating_average} from #{@book.rating_count}"%></p>
				<%end%>
				<hr>
				<%= link_to "Look inside", @book.preview_link, class: "btn btn-warning" %>
		</div>
		<div class="col-md-3 box-book">
		<br><br>
			<h3 class="text-center">GET THIS BOOK</h3><br>
			<p>Owner: <strong><%=@book.user.username%></strong> | <%= link_to 'Send a message', '#contact_modal', "data-toggle" =>'modal', class: 'btn btn-link btn-sm' %></p>
			<p>In location: <%=@book.prefered_location%></p>
			<p>Condition: <%= @book.condition%></p>
			<br>
			<% if current_user %>
				<%= form_for BookTransaction.new do |form| %>
					<%= form.hidden_field :book_id, :value => @book.id%>
					<%= form.submit("Exchange for #{@book.price} points", class: "btn btn-info center-block") %>
				<% end %>
			<% else %>
            	<%=link_to "Exchange for #{@book.price} points", '#sign_up_modal', "data-toggle" => 'modal', class: "btn btn-info center-block"%>
	        <%end%>
			<a href="#"><em>Learn more about points</em></a>
		</div>
	</div>


	<div class="row">	
		<div class="col-md-8">
			<br>
			<p><strong>Description:</strong> <%= @book.description %></p>
		</div>
	</div>
</div>