<h1>book show</h1>

<br>
Book Name: <%= @book.name%>


<div>
	<%= form_for @book_transaction do |f|%>
		<%= f.hidden_field :book_id, :value => @book.id%>
		<%= f.submit("Buy It",class:"btn btn-default btn-block") %>
	<% end%>
</div>
<div>
	<%= link_to 'Edit Book', edit_book_path %>	
</div>
<div>
	<%= link_to "Delete Book", book_path(@book), method: :delete  %>
</div>

<!-- 

<h1>Comments</h1>