<h1>book show</h1>

<br>
Book Name: <%= @book.name%>
<br>
Owner: <%= @book.user.id%>
	<div>
		<%= link_to 'Contact owner', new_message_path(to: @book.user.id), class: 'btn btn-default btn-sm' %>
	</div>

<% unless @book.user.id == current_user.id%>
	<div>
		<%= form_for @book_transaction do |f|%>
			<%= f.hidden_field :book_id, :value => @book.id%>
			<%= f.submit("Buy It",class: "btn btn-default btn-block") %>
		<% end%>
	</div>
<% else %>
	<div>
		<%= link_to 'Edit Book', edit_book_path %>	
	</div>
	<div>
		<%= link_to "Delete Book", book_path(@book), method: :delete  %>
	</div>
<% end %>


<h1>Comments</h1>