<div class="content">
  <div class="container">
    <div class="row">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-lg-6">
          <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>

          <div class="form-group">
            <%= f.label :email %><br />
            <div class="input-group">
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <div class="input-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
              <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            </div>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-info pull-right" %>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
