#sign_up_modal.modal.fade.alert{"aria-hidden" => "true", "aria-labelledby" => "modalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} x
          %span.sr-only Close
        %h3#lineModalLabel.modal-title Sign Up Window
      .modal-body
        = link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook" do
          %span.fa.fa-facebook>
          Sign up with facebook
        %br/
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .form-group
            = f.label :email
            %br/
            .input-group
              = f.email_field :email, autofocus: true, class: "form-control"
              %span.input-group-addon
                %span.glyphicon.glyphicon-asterisk
          .form-group
            = f.label :password
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            .input-group
              = f.password_field :password, autocomplete: "off", class: "form-control"
              %span.input-group-addon
                %span.glyphicon.glyphicon-asterisk
          .form-group
            = f.label :password_confirmation
            %br/
            .input-group
              = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
              %span.input-group-addon
                %span.glyphicon.glyphicon-asterisk
          .modal-footer
            .actions
              = f.submit "Sign Up", class: "btn btn-info pull-right"
