<!DOCTYPE html>
<html>
<head>
  <title>Bookku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://www.prepbootstrap.com/Content/shieldui-lite/dist/css/light/all.min.css" />
  <script type="text/javascript" src="http://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js"></script>

  <!-- BRAINTREE -->
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

</head>
<body>

	<%= render 'layouts/header' %>
  <br>
  <br>
		<% if notice.present? %>
	  		<div class="alert alert-success alert-dismissible"><%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	  	<% end %>
	  	<% if alert.present? %>
	  		<div class="alert alert-danger alert-dismissible"><%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	  	<% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>


</body>
</html>
