<!DOCTYPE html>
<html>
<head>
  <title>Bookku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "All Book", books_path%>

	<% if current_user%>
		<%= link_to "My Profile", current_user %>
		<%= link_to "Log Out", destroy_user_session_path, method: :delete%>
		<%= link_to "Add a book", new_book_path%>
	<% else %>
		<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
		<%= link_to "Sign In", new_user_session_path %>
		<%= link_to "Sign Up", new_user_registration_path %>
  <% end %>

   <%= form_for Book.new, method: :get,:url => search_path, role: "search" do |f| %>
      <%= text_field_tag :term, params[:term], placeholder:"Search the book" %>
      <%= f.submit 'search', :class => 'btn btn-default' %>
   <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
