<!DOCTYPE html>
<html>
<head>
  <title>Bookku Bookku</title>


  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


  <script type="text/javascript" src="https://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js"></script>
  <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/23551047/css/lightbox.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
  <script src="https://dl.dropboxusercontent.com/u/23551047/js/lightbox-plus-jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>


  <!-- BRAINTREE -->
  <script src="//js.braintreegateway.com/v2/braintree.js"></script>

</head>
<body>

	<%= render 'layouts/header' %>
  <br>
  <br>
  <br>
    <div class="container">
  		<% if notice.present? %>
  	  		<div class="alert alert-success alert-dismissible"><%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	  	<% end %>
	  	<% if alert.present? %>
	  		<div class="alert alert-danger alert-dismissible"><%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	  	<% end %>
    </div>

  <%= yield %>

  <%= render 'layouts/footer' %>


</body>
</html>
