<!DOCTYPE html>
<html>
<head>
  <title>Bookku</title>


  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

   <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.css">

  <!-- jQuery library -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- jQuery onepage -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/vendors/jquery.easings.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://www.prepbootstrap.com/Content/shieldui-lite/dist/js/shieldui-lite-all.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <!-- BRAINTREE -->
  <script src="//js.braintreegateway.com/v2/braintree.js"></script>

</head>
<body>

	<%= render 'layouts/header' %>
  <br>
  <br>
  <br>
		<% if notice.present? %>
	  		<div class="alert alert-success alert-dismissible"><%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	  	<% end %>
	  	<% if alert.present? %>
	  		<div class="alert alert-danger alert-dismissible"><%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
	  	<% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>


</body>
</html>
